/* =====Components==== */
:root {
  --all-text-color: #2c2c2c;
  --yellow-main: #ffe550;
  --button-green: #bbf330;
  --darck-green: #7eb101;

  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--all-text-color);
  background-color: #f5f5f5;
}

.h1-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--all-text-color);
}

.h2-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: var(--all-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* =======Components end======== */

/* ===========HERO=========== */

.hero-section {
  /* padding-top: 14px;
    padding-bottom: 14px; */
}
.hero-container {
  /* width: 1248px; */
  display: flex;
  padding-left: 16px;
  padding-right: 14px;
  justify-content: space-between;
  align-items: center;
  /* тимчасова рамка */
  outline: 2px dashed tomato;
}
.hero-content {
  width: 511px;
  padding-top: 159px;
  padding-bottom: 164px;
}
.hero-photos-wrap {
  display: flex;
  width: 580px;
  height: 580px;
  background-image: url(../img/Ellipse\ 11.png);
  background-size: 100%;
  justify-content: center;
  align-items: center;
}

.hero-photos {
  border-radius: 50%;
  width: 528px;
}

.hero-title {
  margin-bottom: 28px;
}
.hero-text {
  font-size: 16px;
  line-height: 1, 50;
  margin-bottom: 46px;
}
.hero-button {
  display: inline-block;
  min-width: 98px;
  min-height: 32px;
  padding: 6px 18px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1, 5;
  color: var(--all-text-color);
  background-color: var(--button-green);
  cursor: pointer;
  border: transparent;
  border-radius: 30px;
}

.hero-button:hover,
.hero-button:focus {
  background: #ffe450;
}

/* =======Offerings======= */
.rectangle-in-container {
  background-color: var(--yellow-main);
}
.offerings-bl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-apple {
  display: block;
  margin: 0;
}
.special-offerings {
  margin-left: 90px;
}
.h2-title.special-offerings-title {
  margin: 0;
  margin-bottom: 20px;
}
.special-offerings-text {
  width: 500px;
  height: 72px;
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.offerings-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h3-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
}
.paragraph-of-text {
  width: 253px;
  height: 84px;
  margin: 0;
  margin-bottom: 32px;
  margin-right: 67px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.button-offer {
  min-width: 106px;
  height: 40px;
  padding: 10px 22px;
  background: #ffffff;
  border: 2px solid var(--darck-green);
  border-radius: 30px;
  text-align: center;
}
